<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>
		<services>
			<service name="Service.ElektricnaEnergijaServis">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:4000" />
					</baseAddresses>
				</host>
				<endpoint address="IElektricnaEnergija" binding="netTcpBinding"
				contract="Common.IElektricnaEnergija" />
			</service>
		</services>
	</system.serviceModel>
</configuration>